<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title th:remove="all" >Subscriber Creation Email Notification</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Bonjour <span th:text="${firstName}" ></span>,</p>

<p>Nous vous souhaitons la bienvenue à la suite de votre inscription à l'application Salari. Salari est une 
application en libre service conçue pour simplifier et automatiser les processus liés à la gestion  des 
ressources humaines et de la paie tout en offrant une expérience unique aux utilisateurs. <br/> </p>

<p>Afin de poursuivre l'inscription, naviguez sur le lien suivant afin de sélectionner une offre et la durée de 
votre abonnement : <a th:href="${offerSelectionUrl}" ><span th:text="${offerSelectionUrl}" ></span></a>.</p>   
     
<p>Il est important de noter qu'à compter de la date de la souscription à un abonnement, vous  bénéficiez d'une période d'essai qui 
s'étend sur trois (03) mois. Aucun paiement ne vous sera exigé avant le terme de la période d'essai.</p> 

<p>
   Cordialement, <br/> 
   <em>L'équipe Deep Dreams</em>
</p>

</body>
</html>