<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title th:remove="all" >Subscriber Creation Email Notification</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Bonjour <span th:text="${firstName}" ></span>,</p>

<p>Nous avons le regret de vous annoncer que votre compte d'utilisateur a été suspendu pour non paiement des frais 
de votre abonnement. <br/> </p>

<p></p> 

<p>
   Cordialement, <br/> 
   <em>L'équipe Deep Dreams</em>
</p>

</body>
</html>