<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all" >Bill Creation Email Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel = "stylesheet" href = "../css/mail.css" >
    </head>
    <body>
        <div style="font-weight: bold;" >
            <p>
            	Cher Abonné, 
            </p>
        </div>

        <div>
            <p>
            	Nous vous informons qu'à la suite de la souscription de l'offre d'abonnement
            	<em><span  style="font-weight: bold;" th:text="${libelleOffre}" >libelleOffre</span></em>
            	de l'application
            	<em><span  style="font-weight: bold;" th:text="${libelleApplication}" >libelleApplication</span></em>
            	pour le compte de 
            	<em><span  style="text-transform:uppercase;" th:text="${libelleAbonne}" >libelleAbonne</span></em>, 
            	la facture ci-dessous. 
            </p>
        </div>
        
        <div>
        	<p>
        		Bien vouloir noter que le délai de paiement est fixée au
            	<em><span  style="font-weight: bold;" th:text="${delaiPaiement}" >delaiPaiement</span></em> .
        	</p>
        </div>
        
        <div>
        	<table  style="margin-left: 15% ; margin-right: 15%; width:70%; background-color: #F5F5F5;" >
        		<tr>
    				<td>N° de la facture :</td>
    				<td style="font-weight: bold; " ><span th:text="${idFacture}" >idFacture</span></td>
    				<td>Date d'émission :</td>
    				<td style="font-weight: bold; bold;" ><span th:text="${dateEmission}" >dateEmission</span></td>
    			</tr>
  				<tr>
  					<td></td>
  					<td></td>
    				<td>Délai de paiement :</td>
    				<td style="font-weight: bold;" ><span th:text="${delaiPaiement}" >delaiPaiement</span></td>
    			</tr>
    			<tr>
    				<td>Nom de l'abonné :</td>
    				<td style="font-weight: bold;" ><span  th:text="${libelleAbonne}" >libelleAbonne</span></td>
    				<td></td>
  					<td></td>
    			</tr>
    			<tr>
    				<td>Offre :</td>
    				<td  style="font-weight: bold;" ><span th:text="${libelleOffre}" >libelleOffre</span></td>
    				<td>Nombre d'années :</td>
    				<td  style="font-weight: bold;" ><span th:text="${nbAnnees}" >nbAnnees</span></td>
    			</tr>
    			<tr>
    				<td></td>
  					<td></td>
    				<td>Montant HT :</td>
    				<td style="font-weight: bold; text-align:right;" ><span th:text="${montantHt}" >montantHt</span> FCFA</td>
  				</tr>
  				<tr>
    				<td></td>
  					<td></td>
    				<td>Montant TVA :</td>
    				<td style="font-weight: bold; text-align:right;" ><span th:text="${montantTva}" >montantTva</span> FCFA</td>
  				</tr>
  				<tr>
    				<td></td>
  					<td></td>
    				<td>Montant HT :</td>
    				<td style="font-weight: bold; text-align:right;" ><span th:text="${montantTtc}" >montantTtc</span> FCFA</td>
  				</tr>
  			</table>
  		</div>

        <p>
            Cordialement, <br/> <em>L'équipe Deep Dream.</em>
        </p>
    </body>
</html>